### Printing in Python

In [8]:
#Strings
print("Hello World")

#Numbers
print(10000)

#Expressions
print(5+3*5)

print(5 > 3)

#Booleans
print(True or False)

print(True and False)

print(not(True and False))

Hello World
10000
20
True
True
False
True

### String Concatenation

In [1]:
first_name = "Victoria"
last_name = "Miner"

name = first_name + " " + last_name

print(name)
print(first_name,last_name)

Victoria Miner
Victoria Miner

### Printing Strings and Numbers

In [93]:
age = 28
print ("I am", age , "years old")

#Format Printing
print("I am %d years old"%(age))

pi = 3.1415926535
rounded = 5
print("PI = %.5f when rounded to the %dth place"%(pi, rounded))

I am 28 years old
I am 28 years old
PI = 3.14159 when rounded to the 5th place

### Variables

In [94]:
x = 15
print(x)
x = x+1
print(x)
x="Hopefully 16"
print(x)
x=True
print(x)

15
16
Hopefully 16
True

### Data Structure List

In [95]:
#List
my_list = [1,2,3,4,5]
print(my_list)
my_list = ["4", "hello", 12.4, 1000, 13.4, "dog"]
print(my_list)
my_list.append("added to the end")
print(my_list)

print("1st Element:", my_list[0])
print("2nd Element:", my_list[1])

[1, 2, 3, 4, 5]
['4', 'hello', 12.4, 1000, 13.4, 'dog']
['4', 'hello', 12.4, 1000, 13.4, 'dog', 'added to the end']
1st Element: 4
2nd Element: hello

In [96]:
#Slicing a list
new_list = my_list[:2]
print(new_list)
new_list = my_list[3:]
print(new_list)
new_list = my_list[:-1]
print(new_list)

['4', 'hello']
[1000, 13.4, 'dog', 'added to the end']
['4', 'hello', 12.4, 1000, 13.4, 'dog']

### Basic String Operations

In [97]:
class_name = "big data technology"
print(class_name)
print("Lower:", class_name.lower())
print("Title:", class_name.title())
print("Upper:", class_name.upper())

big data technology
Lower: big data technology
Title: Big Data Technology
Upper: BIG DATA TECHNOLOGY

In [98]:
print("Number of Characters:", len(class_name))
print("First 8 Characters:", class_name[:8])

Number of Characters: 19
First 8 Characters: big data

In [99]:
print(class_name.find('t'))

list_of_words = class_name.split(" ")
print(list_of_words)

split_on_data = class_name.split("data")
print(split_on_data)

6
['big', 'data', 'technology']
['big ', ' technology']

### Range Function

In [100]:
range(20)

range(0, 20)

In [101]:
list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [102]:
list(range(10,20))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [103]:
num_list = list(range(5,100,5))
print(num_list)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [104]:
list(range(10,1,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2]

### Data Structure Set

In [105]:
my_set = {"Python", "SAS", "R", "C", "Java"}
print(my_set)
my_set = {"Python", "SAS", "R", "C", "Java", "Python"}
print(my_set)
print(len(my_set))

{'Python', 'R', 'C', 'Java', 'SAS'}
{'R', 'C', 'Python', 'Java', 'SAS'}
5

In [106]:
"Dog" in my_set

False

In [107]:
"Python" in my_set

True

In [108]:
second_set = {"Assembly", "Bash", "Linux", "Python"}

print(my_set.union(second_set))
print(my_set.intersection(second_set))
print(my_set.difference(second_set))

{'SAS', 'Bash', 'Java', 'Assembly', 'C', 'R', 'Python', 'Linux'}
{'Python'}
{'R', 'C', 'Java', 'SAS'}

In [109]:
second_set.add("HTML")
print(second_set)
second_set.remove("HTML")
print(second_set)

{'Bash', 'Assembly', 'HTML', 'Python', 'Linux'}
{'Bash', 'Assembly', 'Python', 'Linux'}

## Data Structure Dictionary

In [110]:
history_dates = {'1607':"James Town", '1773':"Boston Tea Party", '1776':"Declaration Of Independence", '1787':"Constitution"}
print(history_dates)

{'1787': 'Constitution', '1773': 'Boston Tea Party', '1776': 'Declaration Of Independence', '1607': 'James Town'}

In [111]:
print(history_dates.keys())

dict_keys(['1787', '1773', '1776', '1607'])

In [112]:
print(history_dates.values())

dict_values(['Constitution', 'Boston Tea Party', 'Declaration Of Independence', 'James Town'])

In [113]:
print(history_dates.items())

dict_items([('1787', 'Constitution'), ('1773', 'Boston Tea Party'), ('1776', 'Declaration Of Independence'), ('1607', 'James Town')])

In [114]:
history_dates.get("1773")

'Boston Tea Party'

In [115]:
history_dates.get("1801")

In [116]:
history_dates.get("1801", "No Key")

'No Key'

### For Loops
#### Python uses tabs for code blocks and grouping statements

In [117]:
my_list = [1,2,3,4,5,6,7,8]

In [118]:
for item in my_list:
    print(item)

1
2
3
4
5
6
7
8

In [119]:
for num in my_list:
    print(num)

1
2
3
4
5
6
7
8

In [120]:
for item in range(5):
    print("Item:", item)
    print("Item times 2:", item*2)
    print("Item squared:", item**2)
    print(" ")

Item: 0
Item times 2: 0
Item squared: 0

Item: 1
Item times 2: 2
Item squared: 1

Item: 2
Item times 2: 4
Item squared: 4

Item: 3
Item times 2: 6
Item squared: 9

Item: 4
Item times 2: 8
Item squared: 16

### If Elif Else

In [121]:
my_list = [1,2,3,4,5,6,7,8]

if 9 in my_list:
    print("9 is in the list")
else:
    print("9 is not in the list")

9 is not in the list

In [122]:
my_age = 28
your_age = 30

if my_age > your_age:
    print("I am older")
elif my_age == your_age:
    print("We are the same age")
else:
    print("You are older")

You are older

In [123]:
number = 101
if number > 150:
    print("greater than 150")
elif number > 100:
    print("greater than 100")
elif number > 50:
    print("greater than 50")
else:
    print("less than 50")

greater than 100

In [124]:
number = 101
if number > 150:
    print("greater than 150")

if number > 100:
    print("greater than 100")

if number > 50:
    print("greater than 50")
else:
    print("less than 50")

greater than 100
greater than 50

### List Comprehension
[ expression for item in list if conditional ]

In [125]:
print(my_list)

for num in my_list:
    #print even numbers
    if num%2 == 0:
        print(num)

[1, 2, 3, 4, 5, 6, 7, 8]
2
4
6
8

In [126]:
new_list = [num for num in my_list if num%2==0]
print(new_list)

[2, 4, 6, 8]

In [127]:
squares_list = [num**2 for num in my_list]
print(squares_list)

[1, 4, 9, 16, 25, 36, 49, 64]

### While Loops

In [128]:
count = 0

while count < 10:
    print(count)
    count = count + 1

0
1
2
3
4
5
6
7
8
9

### Create Functions

In [129]:
def sum_of_list(a_list):
    sum = 0
    for num in a_list:
        sum = sum + num
        
    return sum

In [130]:
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8]

In [131]:
sum_list = sum_of_list(my_list)

In [132]:
print(sum_list)

36

In [133]:
def list_raised_to(a_list, exponent):
    temp_list = []
    for item in a_list:
        temp_list.append(item**exponent)
        
    return temp_list

In [134]:
print(my_list)
power_of_3 = list_raised_to(my_list, 3)

[1, 2, 3, 4, 5, 6, 7, 8]

In [135]:
print(power_of_3)

[1, 8, 27, 64, 125, 216, 343, 512]